/* Outline */
.react-outlines *[data-oui-component] {
  outline: 2px solid hotpink !important;
}
.react-outlines *[data-ui-component] {
  outline: 2px dotted mediumpurple !important;
}
.react-outlines *[data-oui-component] *[data-oui-component],
.react-outlines *[data-ui-component] *[data-ui-component] {
  outline-width: 1px !important;
}

/* Border */
.react-borders *[data-oui-component] {
  border: 2px solid hotpink !important;
}
.react-borders *[data-ui-component] {
  border: 2px dotted mediumpurple !important;
}
.react-borders *[data-oui-component] *[data-oui-component],
.react-borders *[data-ui-component] *[data-ui-component] {
  border-width: 1px !important;
}
